@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
/* globals.css */

body {
  /* Gradient background */
  background: linear-gradient(
    to right,
    #000000,
    #000033,
    #000000,
    #1c0033,
    #140a29
  ); /* Adjust colors as needed */
  /* Optional: Blur effect */
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  /* Other styles */
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif; /* Ensure Inter font is used */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
